* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
}

.header{ 
    background: rgba(83, 52, 1,0.8);
    overflow: hidden;
    width:100%;
    margin-bottom: 20px;
    top:0;
    left:0;
    z-index:100;
    position:fixed;
}

.wrapper {
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}

.logo {
    color: #fff;
    font-size: 50px;
    line-height: 70px;
    float:left
}

nav {
    line-height: 70px;
    float: right;

}

nav a { 
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 10px;
    line-height: normal;
    font-size: 16px;
    -webkit-transition: all 500ms ease; 
    transition:all 500ms ease;
}

nav a:hover{
    color: 	#FFD700;
    border-bottom: 5px solid	#FFD700;

}

.flex-container { 
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container {
    position: relative;
    top: 76px;
    display: inline-block;
    max-width: 68em;
    padding: 10px;
    word-break: break-all;
   
}

.text-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(scroll.png);
    background-size: 100% 100%;
    opacity: .7;}

    .elements-title { 
        font-weight: bold;
    }


    .grid-container {
    margin-top: 2.5%;
    background: url(scroll.png);
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: minmax(30%, 45%) minmax(30%, 45%)
    minmax(30%, 45%);
    grid-template-rows: 40px auto 40px ;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    grid-gap: 10px;
    margin-bottom: 20%;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    font-size: medium;
}



.add-bottom {
    height: 46px;
    padding-top: 15px;
    font-weight: bold;
}

.button-delete {
    padding: 0;
    border: none;
    background: none;
    font-family: 'MedievalSharp', cursive;
    font-size: medium;
    font-weight: bold;
    }

.button-edit{
    padding: 0;
    border: none;
    background: none;
    font-family: 'MedievalSharp', cursive;
    font-size: medium;
    font-weight: bold;
} 

.button-add{
    padding: 0;
    border: none;
    background: none;
    font-family: 'MedievalSharp', cursive;
    font-size: medium;
    font-weight: bold;
} 

.button-add:hover{
    color:rgb(0, 201, 33)
}

.button-delete:hover {
    color: rgba(255, 0, 0, 0.767);
    
}



.button-edit:hover {
    color:royalblue
}

.add-input { 
    background: url(scroll.png);
    background-size: 100% 100%;
    width: 381px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.add-input  form {
    width:50%; 
    margin:0 auto;
    font-size: large;
    
 }

 .errorinput form{
    width:50%; 
    margin:0 auto;
    font-size: large;
    border-color: red;
 }
  
 .table {
    background: url(scroll.png);
    background-size: 100% 100%;
 }

@media only screen and (min-width:400px) and (max-width:767px) {
    .header{ 
       height: 70px;
    }

    .logo {
       font-size: 30px;
       margin-left: 130px;
       margin-top: -15px
    }
    
    nav {
        margin-top: -40px;
        transform: translateX(-3%)
    }


}


@media screen and (max-width:394px ) {
    .flex-container {
        height: 87vh;

    } 

    .text-container {
        font-size: 80%;
       
    }

}